@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Queres ver cabañas?</h1>
    @foreach(Cabaña numero in ViewBag.dicCabañas.Keys)
    {
        <p>@ViewBag.dicCabañas[numero]getNombre()</p>
    }
</div>
