@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Queres ver cabañas?</h1>
    @foreach(int numero in ViewBag.dicCabañas.Keys)
    {
        <a href="@Url.Action("Detalle", "Home", new { id = numero } )">@ViewBag.dicCabañas[numero].getNombre()</a><br>
        <img src="@ViewBag.dicCabañas[numero].getFotos()[1]" style="width: 200px; height: 150px;"><br>
    }
</div>
